<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
<body>
        <main role="main" class="pb-3">
            @RenderBody()
        </main> 
</body>
</html>
