<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">


<!DOCTYPE html>
<html lang="en">
<head>

  <style>



   .boxfunc{
    width: 225px;
    height: 150px;
    background-color: rgb(31, 30, 30);
    border-radius: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 30px black;  

}

.boxfunc:hover {
  background-color:rgb(82, 21, 139);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

  </style>
</head>
<body>


<div>
    <br>
    <div class="col-sm-9">
      <div>
        <h2>@ViewBag.message 's Dashboard</h2>
        <p>Check your Travel Reimbursement status here.</p>
      </div>
      <div class="row">
        <div class="boxfunc" >
          <h4 style="color:white; font-family: 'Gloock', serif;">Destination:</h4>
          <p style="color:white">Your Destination</p> 
        </div>

        <div class="boxfunc">
          <h4 style="color:white; font-family: 'Gloock', serif;">Travel Medium:</h4>
          <p style="color:white">Your Travel Medium</p> 
        </div>

        <div class="boxfunc">
          <h4 style="color:white; font-family: 'Gloock', serif;">Date of Travel:</h4>
          <p style="color:white">Date</p> 
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row" >
          <div class="boxfunc">       
            <h4 style="color:white; font-family: 'Gloock', serif;">Reimbursement's applied:</h4>
            <p style="color:white">number of reimbursements</p> 
          </div>

          <div class="boxfunc">  
            <h4 style="color:white; font-family: 'Gloock', serif;">Reimbursements approved:</h4>
            <p style="color:white">number of approved</p> 
          </div>
      
          <div class="boxfunc">  
            <h4 style="color:white; font-family: 'Gloock', serif;">Approval Status:</h4>
            <p style="color:white">Arroved/Not Approved</p> 
          </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
