@model NewEmployee
@{
    ViewData["Title"]="Delete";
}
<style>
    label{
        width: 8%;
    }
      button
    {   
        width: 70px;
        height: 35px;
        background-color: rgb(31, 30, 30);
        border-radius: 1em;
        align-items: left;
        flex-direction: row;
        justify-content: left;
        margin-left: 13.5%;
        margin-top: 1.5%;
        
    }
    button:hover 
    {
        background-color:rgb(82, 21, 139);
        cursor: pointer;
    }
</style>

<h2 style="color: black;">Delete an employee</h2>
<form method="post">
    <br>
<p>
    <label asp-for="employeeID"> Enter ID</label>
    <input asp-for="employeeID"placeholder="Employee ID"/>
</p>
</p>
     <p style="margin-left: 150px;color:red;">@ViewBag.Message</p>
<p>
<p>
    <button style="color: white;" type="Submit">Submit</button>
</p>
</form>

<a asp-action="AdminDashboard">Go Back </a>