@using System.Data;
@model System.Data.DataTable;

<body>
    <div>
        <table style="width:100%" border=2>
                    <h3> Reimbursement Details </h3>
                    <thead>
                        <tr>
                            <th> Expense Reason &emsp; </th>
                            <th> Expense Date &emsp; </th>
                            <th> Amount &emsp; </th>
                            <th> Currency &emsp; </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (DataRow datarow in Model.Rows)
                            {
                                
                                <tr>
                                    <td>@datarow[1] &emsp; </td>
                                    <td>@datarow[2] &emsp; </td>
                                    <td>@datarow[3] &emsp; </td>
                                    <td>@datarow[4] &emsp; </td>

                                </tr>
                            }
    
                        }
                        </tbody>
                </table>            
    </div>
</body>