@model Employee
@{
    ViewData["Title"]="Thanks";
}
<h2 style=color:red> Thanks,@Model.EmployeeName </h2>
<a asp-action="Index">View all Employees</a>
<h3 style=color:blue>Thanks for Registering</h3>