@using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="image">Select an image to upload:</label>
        <input type="file" name="image" id="image" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
}
