@{
    ViewData["Title"] = "Home Page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Shantell+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
<body style="background-color:powderblue;">
<div class="text-center">
    <h1 style="font-family: 'ABeeZee', sans-serif;">Travel Reimbursement System</h1>
</div>
</body>

